

<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.facetec.cordova.ZoomAuthentication" version="5.1.2">
    <name>ZoomAuthentication</name>
  <js-module name="ZoomAuthentication" src="www/ZoomAuthentication.js">
    <clobbers target="ZoomAuthentication"/>
  </js-module>
  
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="ZoomAuthentication">
          <param name="ios-package" value="ZoomAuthentication"/>
      </feature>
    </config-file>
    
    <preference name="CAMERA_USAGE_DESCRIPTION" default="Secure Authentication with ZoOm" />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>

    <source-file src="src/ios/ZoomAuthentication.m"/>
    
    <framework src="ZoomAuthentication.framework" custom="true" embed="true" />
  </platform>
  
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ZoomAuthentication">
          <param name="android-package" value="com.facetec.cordova.ZoomAuthentication"/>
      </feature>
    </config-file>
    
    <config-file parent="/*" target="AndroidManifest.xml"/>
    
    <resource-file src="aar/zoom-authentication.aar" target="libs/zoom-authentication.aar" />
    <source-file src="src/android/ZoomAuthentication.java" target-dir="src/com/facetec/cordova/ZoomAuthentication"/>
    <framework src="src/android/ZoomAuthentication.gradle" custom="true" type="gradleReference" />
  </platform>

  <!-- Tell iOS applications to embed the required Swift libraries  -->
  <dependency id="cordova-plugin-add-swift-support" version="1.6.2"/>
</plugin>

